<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyk.generator.mapper.TCaptureDeviceInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wyk.generator.model.TCaptureDeviceInfo">
        <id column="capture_id" property="captureId" />
        <result column="capture_name" property="captureName" />
        <result column="capture_mac" property="captureMac" />
        <result column="capture_uuid" property="captureUuid" />
        <result column="type" property="type" />
        <result column="address" property="address" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="ip" property="ip" />
        <result column="floor" property="floor" />
    </resultMap>

</mapper>
